*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border: none;
}

body{
    background-color: rgb(44, 44, 44);
    transition: 5000ms ease-in-out;
}

@font-face {
    font-family: HeaderFont;
    src: url(/gomarice_no_continue.ttf);
  }

  @font-face {
    font-family: GameFont;
    src: url(/Jumpman-1m20.ttf);
  }

  #AddPlayerMenu{
      position: absolute;
      top: 0;
      width: 100%;
      height: 0vh;
      background-color: red;
      z-index: 10;
      transition: 500ms ease-in-out;
      overflow: hidden;
      #AddPlayerMenuExit{
          display: block;
          width: 5vw;
          height: 5vw;
          margin-left: 2vw;
          margin-top: 2vw;
      }
  }



  #Chikens{
    display: flex;
    float: right;
    width: 50vw;
    margin-bottom: 4vw;
    margin-right: 6vw;
  }

  #Message{
    position: absolute;
    left: 5vw;
    width: 12vw;
    margin-bottom: 15vw;
    margin-right: 6vw;
  }


  

h1{
    font-family: HeaderFont;
    font-size: 15vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
    color: white;
}

#Arrow{
    position: absolute;
    z-index: 1;
    left: 46vw;
    top: 42vw;
    width: 8vw;
    height: 8vw;
    transition: 500ms ease-in-out;
}

#Wheel{
    transform: scale(1.25);
    width: 100vw;
    transition: 5000ms ease-in-out;
    
}

#Secret{
    position: absolute;
    z-index: 5;
    width: 80vw;
    left: 10vw;
    top: 55vw;
    transition: 500ms ease-in-out;
    transform: scale(0);
}

#Buttons{
    position: absolute;
    bottom: 5vw;
    width: 100vw;
    display: flex;
        justify-content: space-evenly;
    button{
        font-family: HeaderFont;
        font-size: 8vw;
        color: white;
        width: 35vw;
        height: 15vw;
        border-radius: 10px;
        border: 3px solid white;
        background-color: rgb(233, 69, 69);
    }
}
// 1-89 = Dare
// 91-269 = Rather
// 271 - 359 = Truth
#Question{
    margin: auto;
    font-family: HeaderFont;
    font-size: 8vw;
    width: 95%;
background-color: aqua;
}

.Spinner{
animation: Spinner s ease-in-out ;
}

@keyframes Spinner {
    from {transform: scale(1.25) rotate(0deg);}
    to {transform: scale(1.25) rotate(3600deg);}
  }